<h1>Tasks</h1>
<h3><%= link_to "Add a task", new_task_path %></h3>

<ul>
  <% @tasks.each do |task| %>
    <li><%= task.name + " : " + task.description %><br />
    <%= link_to "Show", task_path(task) %></li>
    <% end %>
</ul>
